n8n-workflows/3-get-vendor-active-orders.json
{
  "name": "3. Get Vendor Active Orders",
  "nodes": [
    {
      "parameters": {
        "path": "api/orders/vendor/:vendorHandle",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "webhook_vendor_orders",
      "name": "Webhook - Get Vendor Orders",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "projectId": "dogwood-baton-345622",
        "operation": "executeQuery",
        "sqlQuery": "SELECT order_id, order_status, order_date, order_amount FROM `dogwood-baton-345622.orders.active_orders` WHERE vendor_handle = '{{ $json.params.vendorHandle }}' AND order_status IN ('pending', 'processing', 'shipped') ORDER BY order_date DESC LIMIT 100"
      },
      "id": "bigquery_vendor_orders",
      "name": "BigQuery - Vendor Orders",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google BigQuery account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond_vendor_orders",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - Get Vendor Orders": {
      "main": [
        [
          {
            "node": "BigQuery - Vendor Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BigQuery - Vendor Orders": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
