n8n-workflows/4-get-customer-active-orders.json
{
  "name": "4. Get Customer Active Orders",
  "nodes": [
    {
      "parameters": {
        "path": "api/orders/customer/:customerId",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "webhook_customer_orders",
      "name": "Webhook - Get Customer Orders",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "projectId": "dogwood-baton-345622",
        "operation": "executeQuery",
        "sqlQuery": "SELECT order_id, fleek_id, order_number, ol_financial_status, latest_status, created_at as order_date, gmv_post_all_discounts as order_amount, vendor FROM `dogwood-baton-345622.fleek_hub.order_line_details` WHERE customer_email = '{{ $json.query.customerId }}' AND ol_financial_status IN ('pending', 'authorized', 'partially_paid', 'paid') ORDER BY created_at DESC LIMIT 100"
      },
      "id": "bigquery_customer_orders",
      "name": "BigQuery - Customer Orders",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google BigQuery account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond_customer_orders",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook - Get Customer Orders": {
      "main": [
        [
          {
            "node": "BigQuery - Customer Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BigQuery - Customer Orders": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
